#
# You may or may not want to track `build/`, depending on where your _production_ code is served from:
#
#  First party code folder  |  Dependencies code folder  |  Recommendation
#  -----------------------  |  ------------------------  |  --------------
#  source/                  |  skypack.dev               |  Ignore entire folder
#  source/                  |  build/                    |  Ignore entire folder, except `build/vendor/pkg`
#  build/                   |  skypack.dev               |  Track entire folder,  except `build/vendor/pkg`
#  build/                   |  build/                    |  Track entire folder
#
build/

# Not using this, so no need to track it. See `components/main.js`.
# This ignore is redundant if you choose to ignore all of build, but is desirable if you're tracking `build/vendor/`.
build/vendor/.env
build/vendor/pkg/import-map.json

# Local artifacts
.snowpack
