#toplevel_page_no-build-tools-no-problems-container .components-card {
	margin-top: 2em;
}

#toplevel_page_no-build-tools-no-problems-container .components-card.is-size-medium {
	max-width: 50%;
}

#toplevel_page_no-build-tools-no-problems-container .components-card ul {
	list-style: disc;
	margin-left: 1em;
}

#toplevel_page_no-build-tools-no-problems-container .components-spinner {
	margin-bottom: 1em;
}
